body { margin:0; padding:20px 0 0 0 }
div { margin:0; padding:0 }
span { margin:0; padding:0 }
a { margin:0; padding:0 }

body { font-family:Verdana,serif; font-size:12px; background-color:#efefef; }

.siteSandbox { width:900px; margin:0 auto; background-color:#b0c4de; }
.fLeft { float:left; }
.fRight { float:right; }
.clearBoth { clear:both; height:0; width:0; }
.bold { font-weight:bold; }

#forecastingList
{
    float:left; width:420px; height:500px; overflow:hidden; border:1px solid black; color:#000000;
    padding:4px;
    overflow:auto;
}

#baseModifiers
{
    float:right; width:200px; height:500px; overflow:hidden; border:1px solid #5f9ea0; color:#000000;
    padding:4px;
    overflow:auto;
}

div.baseModifier { background-color:#fafad2; border:1px solid #5f9ea0; margin-bottom:2px; padding:2px; }
div.baseModifier .amount { font-size:11px; color:#006400; }
div.baseModifier .amount.negative { color:#8b0000; }
div.baseModifier .frequency { font-size:10px; }

div.accountModifier { background-color:#fafad2; padding:2px 2px 3px 2px; font-size:11px; }
div.accountModifier.bottomBorder { border-bottom:2px solid #5f9ea0; }
div.accountModifier .title { width:170px; }
div.accountModifier .title div { width:170px; overflow:hidden; word-wrap:break-word; word-break:break-all;}
div.accountModifier .amount { width:130px; color:#006400; text-align:right; }
div.accountModifier .amount.negative { color:#8b0000; }
div.accountModifier .balance { width:80px; color:#000000; text-align:right; font-weight:bold; }
div.accountModifier .balance.negative { color:#8b0000; }