<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">

    <title>Balance</title>

    <link rel="stylesheet" href="css/balance.css">

    <script type="text/javascript" src="scripts/library/angular.min.js"></script>

    <script type="text/javascript" src="scripts/library/angular/controllers.js"></script>

    <script type="text/javascript" src="scripts/globals.js"></script>
    <script type="text/javascript" src="scripts/utils/utils.js"></script>
    <script type="text/javascript" src="scripts/utils/utils-date.js"></script>

    <script type="text/javascript" src="scripts/data/baseModifiers.js"></script>
    <script type="text/javascript" src="scripts/data/accountModifiers.js"></script>
    <script type="text/javascript" src="scripts/data/accountBalance.js"></script>

    <script type="text/javascript" src="scripts/models/modifierType.js"></script>
    <script type="text/javascript" src="scripts/models/frequency.js"></script>
    <script type="text/javascript" src="scripts/models/scenario.js"></script>
</head>
<body>

    <div class="siteSandbox">

        <div id="forecastingList">
            <div ng-controller="AccountModifiersList">
                <div>
                    <div class="accountModifier bottomBorder">
                        <div class="fLeft date bottomBorder">{{ accountBalance.getFormattedStartingDate() }}</div>
                        <div class="fLeft title bottomBorder"><div>Starting balance:</div></div>
                        <div class="fRight balance bottomBorder" ng-class="{negative: accountBalance.startingBalance<0}">{{ accountBalance.getFormattedStartingBalance() }}</div>
                        <div class="clearBoth"></div>
                    </div>

                    <div ng-repeat="balanceRow in balanceRows">
                        <div class="accountModifier">
                            <div class="fLeft date" style="width:80px;">{{ balanceRow.appliedDate }}</div>
                            <div class="fLeft title" ><div>{{ balanceRow.title }}</div></div>
                            <div class="fRight amount" ng-class="{negative: balanceRow.amount<0}">{{ balanceRow.formattedAmount }}</div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="accountModifier bottomBorder">
                            <div class="fRight balance" ng-class="{negative: balanceRow.balance<0}">{{ balanceRow.formattedBalance }}</div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="baseModifiers">
            <div ng-controller="BaseModifiersList">
                <div ng-repeat="mod in mods" class="baseModifier">
                    <div>
                        <div class="fLeft bold">{{ mod.title }}</div>
                        <div class="clearBoth"></div>
                        <div class="fRight amount bold" ng-class="{negative: mod.getAmountValue()<0}">{{ mod.getFormattedAmount() }}</div>
                        <div class="clearBoth"></div>
                    </div>
                    <div class="fRight frequency">{{ mod.frequency.getDescription() }}</div>
                    <div class="clearBoth"></div>
                </div>
            </div>
        </div>

        <div class="clearBoth"></div>
    </div>


</body>
</html>